

.contactForm {
  min-width: 40%;
  max-width: 60%;
  background-color: #6989b3;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 2%;
  font-size: 30px;
  font-weight: 400;
}

.devPhoto {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.MailLink {
  background-color: #fdfeb8;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.locationEmail {
  background-color: #fdfeb8;
  height: 150px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}