:root {
  --lightContrasBG: #6989b3;
  --light2ContrasBG: #6AB4AC;
}


.SectionTitle {
  font-size: 40px;
  text-align: center;
}

.aboutMe {
  width: 80%;
  background-color: var(--lightContrasBG);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.AppGIF {
  width: 483px;
  height: 234px;
}

/* app1 {
  width: 250px;
  height: 334px;
} */

.aboutMeSection {
  background-color: var(--lightContrasBG);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.appZone {
  background-color: var(--lightContrasBG);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.aboutMePar {
  background-color: var(--light2ContrasBG);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}