:root {
  --lightContrasBG: #6989b3;
  --light2ContrasBG: #fdfeb8;
}


.SectionTitle {
  font-size: 40px;
  text-align: center;
}

.aboutMe {
  width: 80%;
  /* background-color: var(--lightContrasBG); */
  border-style: dashed;
  border-width: 10px;
  border-color: var(--lightContrasBG);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.AppGIF {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.AppGIF1 {
  max-width: 600px;
  height: auto;
}

.AppGIF2 {
  max-width: 700px;
  height: auto;
}

.AppGIF3 {
  max-width: 800px;
  height: auto;
}

.aboutMeSection {
  /* background-color: var(--lightContrasBG); */
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.appZone {
  border-style: dashed;
  border-width: 10px;
  border-color: var(--lightContrasBG);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.aboutMePar {
  background-color: var(--light2ContrasBG);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  min-width: 25%;
  max-width: 50%;
}

.AppBox {
  background-color: var(--light2ContrasBG);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  max-width: 35%;
  min-width: 25%;
}

.wxDashboard {
font-size: 65px;
font-family: 'Orbitron', sans-serif;
}

.surfDeck {

font-family: 'Monoton', cursive;
font-size: 75px;
}

.notey {
  font-family: 'Mr Dafoe', cursive;
  font-size: 150px;
}