:root {
  --lightContrasBG: #6989b3;
  --light2ContrasBG: #fdfeb8;
}



.navbar {
  background-color: var(--lightContrasBG);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  max-height: 250px;
  width: 100%;
}

.navbar a {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: black;
  font-size: 40px;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.firstName {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.lastName {
  color: black;
  text-decoration: none;
  font-size: 43px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-top: 60px;
  margin-left: -108px;

}

.navButton {
  width: 200px;
  background-color: var(--light2ContrasBG);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}