.navbar {
  background: #6989b3;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.navbar a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.firstName {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.lastName {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-top: 60px;
  margin-left: -108px;

}